.u-section-1 .u-sheet-1 {
  min-height: 668px;
}

.u-section-1 .u-group-1 {
  margin-top: 38px;
  margin-bottom: 38px;
  min-height: 592px;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  width: 106px;
  margin: 86px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  width: 106px;
  margin: 54px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  width: 106px;
  margin: 54px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  width: 106px;
  margin: 54px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 595px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 897px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 804px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 621px;
  }
}