@charset "UTF-8";

main {
	margin-left: 50px;
	margin-top: 10px;
}

table {
	position: relative;
	left: 100px;
	top: 40px;
}

td {
	text-align: center;
}

tbody td {
	border-bottom: 1px dashed #708090;
}

.text-align-left {
	text-align: left;
}

.table_header {
	background-color: #483D8B;
	color: white;
}

.w60 {
	width: 60px;
}

.h60 {
	height: 60px;
}

.w100 {
	width: 100px;
}

.w450 {
	width: 450px;
}

.expand {
	flex-grow: 1;
}

.title {
	text-indent: 2em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.title:hover {
	text-decoration: underline;
}



.write-btn a {
	width: 60px;
	position: absolute;
	top: 50px;
	left: 830px;
	padding: 5px;
	background-color: #6495ED;
	color: #ffffff;
}

.page-btn a {
	margin : 3px;
	color: orange;
	
}
.page-btn {
	left: 400px;
	top : 80px;
	display: inline-block;
}
.prev-btn {
	left: 390px;
    top: 80px;
}

.next-btn {
	left: 410px;
    top: 80px;
}

/* ========================================== DETAIL ============================================= */
.board {
	width: 800px;
	height: 550px;
	margin-left: 30px;
	margin-top: 20px;
}

.board-foot {
	width: 800px;
	margin-left: 30px;
	border-top: 2px dashed #bcbcbc;
}

.board div {
	margin-bottom: 3px;
}

.head-title {
	font-size: 40px;
	border-bottom: 2px dashed #bcbcbc;
}

.head-info {
	position: relative;
	left: -15px;
	text-align: center;
	height: 25px;
}

.head-file {
	border-top: 2px dashed #bcbcbc;
	border-bottom: 2px dashed #bcbcbc;
}

.info {
	display: inline-block;
	width: 100px;
	background-color: #98FB98;
}

.file {
	text-align: center;
	width: 100px;
	display: inline-block;
	background-color: #98FB98;
}

.board_info {
	display: inline-block;
	width: 150px;
	text-align: left;
}

.content {
	margin-top: 10px;
}

.board-page {
	display: inline-block;
	width: 50%;
}

.board-btn {
	display: inline-block;
	width: 50%;
	vertical-align: right;
}

.board-foot a {
	background-color: #008040;
	color: white;
	padding: 1px;
	margin: 3px;
}

.search-list {
	position: relative;
	left: 550px;
	width: 450px;
}
/*======================================== reg========================= */
.reg-tag {
	display: inline-block;
	width: 100px;
	height: 32px;
	padding: 2px;
	background-color: #98FB98;
	text-align: center;
	border-radius: 5px;
}

.title-text {
	width: 550px;
}

.writer-text {
	width: 200px;
}

textarea {
	margin-top: 10px;
	width: 655px;
	height: 430px;
	box-sizing: border-box;
	border: solid 2px #1E90FF;
	border-radius: 5px;
}

.line {
	width: 655px; 
	border-bottom : 1px dashed #bcbcbc;
	margin-bottom: 2px;
	border-bottom: 1px dashed #bcbcbc;
}